.footer-container{
    text-align: center;
    position: relative;
    width: 100%;
    height: 562px;
    padding: 56px 108px 56px 108px;
   

}
.flag{
    
    display: flex;
    justify-content: flex-end;
}
.footer-flag{
    
    width: 200px;
    height: 150px;
    
    
}

.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 24px;
    gap: 32px;
    margin: auto;
    margin-bottom: 110px;
}
.footer-links-items{
    height: 24px;
    font-family: "Red Hat Display";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 25, 29, 0.7);
    margin: auto;



}
.footer-products{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin: auto;
    height: 40px;
    margin-bottom: 50px;
    margin-bottom: 56px;
}
.footer-products-links>img{
    width: 100px;
    height: auto;
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.copyRight{
    font-family: "Red Hat Display";
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 25, 29, 0.7);


}
.creator{
    display: flex;
    font-family: "Red Hat Display";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 25, 29, 1);


}
.monaco-flag{
    margin: 0 5px;
}
.legal{
    display: flex;
    gap: 16px;
    font-family: "Red Hat Display";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(0, 25, 29, 0.7);

}
.logo-footer{
    width: 324px;
    height: 56px;
    margin: auto;
    margin-bottom: 56px;
}
.footer-logo-2{
    width: 194px;
    height: 50px;
    margin-bottom: 56px;
}