


                
.home-container{
    background-color: #FFF;
    width: 100%;
}
.hero{
    padding:150px ;
    text-align: center;
    background: url('./Fondsombre.png') no-repeat center/cover;
    background-size: 100%;
    color: #FFF;
    height: 936px;
    width: 100%;
}

.hero-text-up{
    
    text-transform: uppercase;
    width: 1000px;
    
    font-family: 'Termina';
    font-size: 56px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    margin:  auto;

}
.hero-text-down{
    width: 608px;
    height: 128px;
    font-family: 'Red Hat Display';
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    margin: 50px auto;

}
.sous-titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 600px;
    gap: 24px;
    text-align: center;
    margin: 100px auto;
    
}
.flag-sous-titre{
    height: 76;
    width: 112px;
}
.sous-titre-head{
    text-transform: uppercase;
    width: 600px;
    height: 32px;
    font-family: "Termina";
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 25, 29, 0.7);
}
.sous-titre-body{
    text-transform: uppercase;
    width: 600px;
    height: 64px;
    font-family: 'Termina';
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color:  #00191D;
}
span{
    font-family: 'Termina';
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color:  #D90111;

}
.offre{
    width: 85%;
    height: 644px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;

}
.offre-titre{
    
    font-family: "Termina";
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 150px;
    width: auto;

}
.offre-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-1{
    
    position: relative;
    background: 
            linear-gradient(0deg, #00191D 0%, rgba(0, 25, 29, 0) 100%),
            url('./category-1-background.png') center/cover no-repeat;
    height: 440px;
    width: 49%;
    border-radius: 4px;
    border: 2px;
}
.cat1-player{
    position: absolute;
    max-width: 80%;
    height: 534px;
    top: -94px;
    left: 158px;

}
.cat1-top14{
    position: absolute;
    width: 64px;
    height: 64px;
    top: 32px;
    left: 32px;

}
.category-1-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 95%;
    height:28%;
    top:50%;
    left: 3%;
    gap: 24px;

}
.cat-title{
    text-transform: uppercase;
    width: 536px;
    
    font-family: "Termina";
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}
.cat-text{
    text-transform: uppercase;
    width: 536px;
    
    font-family: 'Red Hat Display';
    font-size: 16px;
    font-weight: 500;
    
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);


}
.cat-btn{
    display: flex;
    text-transform: uppercase;
    width: 265px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    gap: 16px;
    background: rgba(255, 255, 255, 1);
    

}
.category-2{
    position: relative;
    background: 
            linear-gradient(0deg, #00191D 0%, rgba(0, 25, 29, 0) 100%),
            url('./category-2-background.png') center/cover no-repeat;
    height: 440px;
    width: 49%;
    border-radius: 4px;
    border: 2px;

}
.cat2-player{
    position: relative;
    max-width: 85%;
    height: 527px;
    top: -87px;
    left: 66px;

}
.section-title{
    font-family: "Termina";
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

}
.section-title>span{
    font-family: "Termina";
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #D90111;


}
.section-text{
    max-width: 85%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin: auto;
    margin-top: 144px;
}
.french-flag{
    max-width: 40%;
    height: auto;
}
.text-section{
    max-width: 50%;
    height: auto;
    gap: 32px;
    display: flex;
    flex-direction: column;
    font-family: "Termina";
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
   

    
}
.section-body{
    font-family: "Red Hat Display";
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.section-footer{
    font-family: Termina;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.section-btn{
    width: 281px;
    height: 40px;
    padding: 8px 16px 8px 12px;
    border-radius: 4px;
    gap: 16px;
    display: flex;
    align-items: center;
    background: rgba(217, 1, 17, 1);
    color: #FFF;
    border: none;
}
.ticket{
    display: flex;
    align-items: center;
}