.contact-container{
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0pc;
    display: none;
    
    
}
.transparent{
    width: 100%;
    height: 100%;
    background-color: rgb(42, 41, 42, .8);
    z-index: 120;
    
}
.contact-form{
    display: none;
    width: 40%;
    height: 100%;
    background-color: #fff;
    transition: display 1000ms ease-in-out;
    z-index: 102;
}
.active{
    display: flex;
    z-index: 100;
    
}