.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 10%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    

}
.navbar{
    height: 100%;
    display: flex;;
}
.navbar-list{
    display: flex;
    align-items: center;
    gap: 30px;
    color: #808C8E;
   
}
.logo{
    display: flex;
    align-items:center;
    width: 236px;
    height: 40.89px;
    top: 16px;
    left: 108px;

}
.logo-img{
    width: 38.93px;
    height: 40.95px;


}
.tendances-img{
    width: 113.56px;
    height: 18.42px;
    top: 15.04px;
    left: 43.38px;
    border: 0.28px;

}
.events-img{
    width: 76.11px;
    height: 14.77px;
    top: 18.27px;
    left: 159.94px;

}
.navbar-items{
    height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    font-family: "Red Hat Display";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #808C8E;
    
   



}
.navbar-items:hover{
    border-bottom: 3px solid #D90111 ;
    cursor: pointer;
    color: #00191D;
    
}
.cheveron{
    margin-left: 7px ;
}
.ticket-btn{
    height: 40px;
    width: 145px;
    padding: 8px 16px 8px 8px;
    background: rgba(0, 25, 29, 1);
    border: none;
    border-radius:4px ;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Red Hat Display";
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
.ticket{
    height: 24px;
    width: 24px;
}
.prestation-btn{
    position: relative;
}
.prestation{
    position: absolute;
    top: 100px;
    left: 53%;
    background-color: aliceblue;
    width: 160px;
    color: #808C8E;
    font-family: "Red Hat Display";
    padding: 15px 20px;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: height 500ms ease;
}
.hide{
    display: none;
}
.prestation-menu{
    cursor: pointer;
    color: #808C8E;
}
.prestation-menu:hover{
    color: #32393a;
}